body
  margin 50px
table
  width 80%
  border-collapse collapse
  border 2
table, td, th, caption
  border 2px solid black
  align left
tbody
  color green
td
  padding 10px
  align left
caption
  font-size larger
  background-color yellow
  padding 10px
h1
  font 1.5em Georgia, serif
form
  margin 20px
  padding 20px
hr 
  width 100%
  height 2px
th
  vertical-align center
  background-color rgb(102, 102, 102)
  color white

ul
  float left
  height 153px
  line-height 23px
  list-style none outside none
  margin 8px 0 0
  padding 0
  position relative
  text-align left
  width 266px


