<html>
<head>
<title><%= title %></title>
</head>
<body>
<h1>Neocrawler Config Home</h1>
<p>This page is designed to manage crawling rules and proxy server. <a href="http://git.oschina.net/dreamidea/neocrawler/wikis/home" target="_blank">Wiki</a></p>
<hr style="width: 100%; height: 2px;">
<h4><a href="/rule">Crawling Rules Configure</a></h4>
<h4><a href="/proxy">Proxy Configure</a><br></h4>
<h4><a href="/monitor/daily">Crawling Daily Report</a><br></h4>
<h4><a href="/monitor/linkdb">Link DB State</a><br></h4>
</body>
</html>