<html>
<head>
<title><%= title %></title>
</head>
<body>
<h1><%= title %></title>
<p>This page is designed to manage drilling rules and proxy server.</p>
<hr style="width: 100%; height: 2px;">
<h1><a href="/rule">Drilling Rules</a></h1>
<h1><a href="/proxy">Proxy Server</a><br></h1>
<h1><a href="/monitor/daily">Crawling Report</a><br></h1>
</body>
